[submodule "GeoNature"]
	path = GeoNature
	url = https://github.com/bouttier/GeoNature.git
  branch = 2.17.5-docker
[submodule "gn_module_export"]
	path = gn_module_export
	url = https://github.com/PnX-SI/gn_module_export.git
[submodule "gn_module_dashboard"]
	path = gn_module_dashboard
	url = https://github.com/PnX-SI/gn_module_dashboard.git
[submodule "gn_module_monitoring"]
	path = gn_module_monitoring
	url = https://github.com/PnX-SI/gn_module_monitoring.git
